.alert {
  max-width: 500px;
  margin: 10px;
  background-color: rgb(218, 89, 89);
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
.alert__tittle {
  text-transform: uppercase;
  font-size: 30px;
  background-color: rgb(218, 39, 39);
  padding:20px;
}
.alert__info {
  padding:20px;
}
.alert__message {
  font-size: 25px;
}
.alert__description {
  font-size: 18px;
}