.page__menu{
    position: fixed; /* или возьмите `absolute`, все зависит от желаемого результата */
    top: 0;
    bottom: 0;
    min-width: 280px;
    right: -340px;
    transition: transform .3s ease-in-out;
  }

.page__menu--active{
    transform: translateX(-340px);
  }
.menu {
  position: fixed;
  display:flex;
  flex-direction: column;
  background-color: #fff;
  border-start-end-radius: 8px;
  height: 100%;
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.menu__title {
  font-size: 38px;
  border-bottom: black solid 1px;
}
.item{
  display: grid;
  grid-template-areas: "name name button" "amount amount amount" "price price price";
}
.item__name {
  grid-area:name;
  font-size: 18px;
}
.item__amount {
  grid-area:amount;
  font-size: 14px;
}
.item__price {
  grid-area: price;
  font-size: 14px;

}
.item__button {
  grid-area:button;
}
.menu__total {
  font-size: 20px;
}