.card {
  overflow: hidden;
  background-color: #FFCC66;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: start;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.card:hover{
  transform: scale(1.02);
}
.card:focus-within {
  transform: scale(1.02);
}
.card__image {
  width: 100%;
  height: auto;
}
.card__info{
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}
.input__input {
  font-family: 'Open Sans', sans-serif;
  outline:none;
  border:none;
  text-align: center;
  background-color: #FFCC66;
  width: 100%;
  border-bottom: #ffd37b solid 1px;
}
.input__input:focus-within{
  border-bottom: black solid 1px;
}
.input__input:hover{
  border-bottom: black solid 1px;
}
.input__input--disable{
  pointer-events: none;
  color: #706f6e;
}
.card__button {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  align-self: center;
  margin: 5px;
  border-radius: 8px;
  border: #FF9933 solid 1px;
  color: #f93;
  height: 30px;
  width: 70%;
  transition: 0.3s;
  background-color: #FF9933;
  border: #FF9933 solid 1px;
  color: #fff;
}

@media all and (min-device-width:1440px){
  .card__title {
    font-size:18px
  }
  .card__price {
    font-size:16px
  }
  .card__input {
    display: flex;
  }
  .input__des {
    width: 100%;
    font-size:16px;
  }
  .input__input{
    font-size:16px;
  }
}
@media all and (max-device-width: 1439px){
  .card__title {
  font-size:16px
  }
  .card__price {
    font-size:14px
  }
  .card__input {
    display: flex;
  }
  .input__des {
    width: 100%;
    font-size:14px;
  }
  .input__input{
    font-size:14px;
  }
}
@media all and (max-device-width: 767px){
  .card__title {
    font-size:14px
  }
  .card__price {
    font-size:12px
  }
  .card__input {
    display: flex;
  }
  .input__des {
    width: 100%;
    font-size:12px;
  }
  .input__input{
    font-size:12px;
  }
}