.fixed-button {
  outline: none;
  position: fixed;
  z-index: 2;
  right: 34px;
  top:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 20px;
  padding: 5px;
  min-width: 35px;
  min-height: 35px;
}
