.page-content__title {
  color: #FF9933
}
.page-content__body {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #FFF;
  border-radius: 8px;
  padding: 30px;
  display: grid;
  align-items: start;
  align-items: center;
  justify-content: center;
}
@media all and (min-device-width:1440px){
  .page-content {
    margin: 20px 30px;
  }
  .page-content__title {
    font-size: 50px;
  }
  .page-content__body {
    padding: 30px;
  }
  .page-content__body{
    grid-template-columns: repeat(auto-fill, 230px);
    grid-gap: 30px 30px;
    gap: 30px 30px;
    }
}
@media all and (max-device-width: 1439px){
  .page-content {
    margin: 20px 25px;
  }
  .page-content__title {
    font-size: 35px;
  }
  .page-content__body {
    padding: 25px;
  }
  .page-content__body{
    grid-template-columns: repeat(auto-fill, 225px);
    grid-gap: 20px 20px;
    gap: 20px 20px;
    }
}
@media all and (max-device-width: 767px){
  .page-content {
    margin: 20px 20px;
  }
  .page-content__title {
    font-size: 30px;
  }
  .page-content__body {
    padding: 20px;
  }
    .page-content__body{
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 15px 15px;
    gap: 15px 15px;
    }
}
@media all and (max-device-width: 280px){
  .page-content {
    margin: 20px 20px;
  }
  .page-content__title {
    font-size: 30px;
  }
  .page-content__body {
    padding: 20px;
  }
    .page-content__body{
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 20px 20px;
    gap: 20px 20px;
    }
}