<template>
  <div class="alert">
    <div class="alert__tittle">ERR</div>
    <div class="alert__message">
      {{ message }}
    </div>
    <div class="alert__description">
      Страница будет перезагружена через 5 секунд
    </div>
  </div>
</template>

<script>
import "@/assets/css/alert-message.css";
export default {
  props: {
    message: {
      type: String
    }
  },
  created() {
    setTimeout(() => {
      location.reload();
    }, 5000);
  }
};
</script>
