<template>
  <div>
    <button
      class="button fixed-button"
      :class="{
        'button--red': isMenuShow
      }"
      @click="showMenu"
    >
      <div v-if="!isMenuShow">Корзина | {{ amountOfAll }}</div>
      <div v-else>
        X
      </div>
    </button>
    <div class="page__menu" :class="{ 'page__menu--active': isMenuShow }">
      <div class="menu">
        <div class="menu__title">Корзина</div>
        <ul class="list">
          <li class="item" v-for="good in order" :key="good.id">
            <span class="item__name">{{ good.name }}</span>
            <span class="item__amount">Кол-во: {{ good.amount }}</span>
            <span class="item__price"
              >Цена
              {{ (good.amount * Math.floor(good.price * 100)) / 100 }}</span
            >
            <div class="item__button">
              <button
                class="button--circle button--red"
                @click="deleteGood(good.id)"
              >
                x
              </button>
            </div>
          </li>
        </ul>
        <div class="menu__total">
          <span v-if="order.length"> ИТОГО: {{ total }} </span>
          <span v-else>КОРЗИНА ПУСТА</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/fixed-button.css";
import "@/assets/css/basket-menu.css";
import "@/assets/css/button.css";

import EventBus from "@/event-bus";

export default {
  data() {
    return {
      order: [],
      isMenuShow: false
    };
  },

  computed: {
    total: function() {
      if (this.order.length > 0) {
        return this.order.reduce(
          (accumulator, currentValue) =>
            accumulator +
            (currentValue.price * Math.floor(currentValue.amount * 100)) / 100,
          0
        );
      } else {
        return 0;
      }
    },

    amountOfAll: function() {
      if (this.order.length > 0) {
        return this.order.reduce(
          (accumulator, currentValue) => accumulator + currentValue.amount,
          0
        );
      } else {
        return 0;
      }
    }
  },

  mounted() {
    //товар добавлен из ветрины
    EventBus.$on("addGood", data => {
      this.order.push(data);
    });
    //товар удален из ветрины
    EventBus.$on("deleteGood", data => {
      this.deleteGood(data.id);
    });
  },

  methods: {
    deleteGood(id) {
      const indexOnArray = this.order.findIndex(el => el.id == id);
      this.order.splice(indexOnArray, 1);
      EventBus.$emit("activeAndRefreshGood", {
        id: id
      });
    },

    showMenu() {
      this.isMenuShow = !this.isMenuShow;
    }
  }
};
</script>
