<template>
  <div class="card">
    <img :src="good.img_url" alt="изображение товара" class="card__image" />
    <div class="card__info">
      <div class="card__title">{{ good.name }}</div>
      <div class="card__price">Цена: {{ good.price }}</div>
      <div class="card__input">
        <label :for="good.id" class="input__des"> Количество:</label>
        <input
          type="number"
          class="input__input"
          min="1"
          :id="good.id"
          value="amount"
          v-model.number="amount"
          :class="{ 'input__input--disable': hadAdd }"
          @change="validateAmount"
        />
      </div>
      <button v-if="!hadAdd" class="button card__button" @click="addGood">
        + Добавить
      </button>
      <button
        v-else
        class="button card__button "
        :class="{ 'button--red': hadAdd }"
        @click="deleteGood"
      >
        - Удалить
      </button>
    </div>
  </div>
</template>

<script>
import "@/assets/css/card-of-good.css";
import "@/assets/css/button.css";
import EventBus from "@/event-bus";

export default {
  props: {
    good: {
      type: Object
    }
  },

  data() {
    return {
      amount: 1,
      hadAdd: false
    };
  },

  mounted() {
    //Если товар удален из корзины
    EventBus.$on("activeAndRefreshGood", data => {
      if (data.id == this.good.id) {
        this.amount = 1;
        this.hadAdd = false;
      }
    });
  },

  methods: {
    addGood() {
      this.validateAmount();
      EventBus.$emit("addGood", {
        name: this.good.name,
        id: this.good.id,
        price: this.good.price,
        amount: this.amount
      });
      this.hadAdd = true;
    },

    deleteGood() {
      EventBus.$emit("deleteGood", {
        id: this.good.id
      });
    },

    validateAmount() {
      if (this.amount < 1) {
        this.amount = 1;
      }
      this.amount = Math.floor(this.amount);
    }
  }
};
</script>
