<template>
  <div class="page-content">
    <modalWindow v-if="isAlert">
      <alertMessage message="Произошла ошибка загрузки данных"></alertMessage>
    </modalWindow>
    <div class="page-content__title">Товары</div>
    <div class="page-content__body">
      <good v-for="good in goods" :key="good.id" :good="good"></good>
    </div>
  </div>
</template>

<script>
import "@/assets/css/page-content.css";

import { client } from "@/api/client.js";

import good from "@/components/Good.vue";
import modalWindow from "@/components/baseModal.vue";
import alertMessage from "@/components/alertMessage.vue";
export default {
  components: {
    good,
    modalWindow,
    alertMessage
  },
  data() {
    return {
      goods: [],
      isAlert: false
    };
  },
  created: async function() {
    const data = await client();
    if (data.status == 200) {
      this.goods = data.data;
    } else {
      this.isAlert = true;
    }
    console.log(this.goods);
  }
};
</script>
