<template>
  <div id="app" class="page">
    <showCase></showCase>
    <basketMenu></basketMenu>
  </div>
</template>

<script>
import showCase from "@/components/ShowCase.vue";
import basketMenu from "@/components/BasketMenu.vue";

export default {
  name: "App",
  components: {
    showCase,
    basketMenu
  }
};
</script>
